<div class="container overflow-scroll" style="max-height: 100%;" appScrollable
  (scrollPosition)="scrollHandler($event)">
  <button type="button" class="btn btn-primary btn-sm me-3" (click)="add()">Add</button>
  <button type="button" class="btn btn-primary btn-sm me-3" (click)="add100()">Add 100</button>
  <button type="button" class="btn btn-danger btn-sm me-3" (click)="reset()">Reset</button>
  <div class="table-responsive">
    <table class="table table-hover align-middle">
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data$ | async; index as i">
          <td>{{item.name.title}} {{item.name.first}} {{item.name.last}}</td>
          <td>{{item.gender}}</td>
          <td>{{item.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin-bottom: 300px">
    <button type="button" class="btn btn-primary btn-sm" (click)="loadMore()"
      [disabled]="(done$ | async) || (loading$ | async)">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading$ | async"></span>
      {{(done$ | async) ? 'No more' : (loading$ | async) ? 'Loading...' : 'Load more'}}
    </button>
    <button type="button" class="btn btn-danger btn-sm" (click)="reset()">Reset</button>
  </div>
</div>